/*!****************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/iconedSelect.scss ***!
  \****************************************************************************************************************/
.iconedSelect {
  margin-top: 3px;
  margin-bottom: 3px;
}
.iconedSelect * {
  box-sizing: border-box;
}
.iconedSelect img {
  max-width: 16px;
}
.iconedSelect .choices[data-type*=select-one]::after {
  border-color: #a1a1a1 transparent transparent transparent;
  border-width: 7px 4px;
  right: 7.5px;
}
.iconedSelect .choices[data-type*=select-one].is-open::after {
  border-color: transparent transparent #a1a1a1 transparent;
  margin-top: -10px;
}
.iconedSelect .choices[data-type*=select-one] .choices__inner {
  padding-bottom: 6px;
}
.iconedSelect .choices.is-focused {
  z-index: 20;
}
.iconedSelect .choices__inner {
  display: flex;
  min-height: 29px;
  padding: 5px 22px 6px 6px;
  background: white;
  border: 1px solid var(--form-border);
  border-radius: 2px;
}
.iconedSelect .choices__item {
  display: flex;
  align-items: center;
  gap: 10px;
  white-space: nowrap;
}
.iconedSelect .choices__item[data-value=""] {
  color: #b7b7b7;
}
.iconedSelect .choices__item span {
  color: #cecece;
}
.iconedSelect .choices__list {
  width: auto !important;
  min-width: 100%;
  max-width: unset;
}
.iconedSelect .choices__list--single {
  padding: 0;
}
/*!******************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/ui.scss ***!
  \******************************************************************************************************/
.mod_article {
  position: relative;
}

.ui {
  position: absolute;
  right: 10px;
  top: 10px;
  opacity: 0.4;
  transition: 0.3s;
}
.ui * {
  height: auto;
}
.ui:hover {
  opacity: 1;
}
.ui:hover .ui__elements {
  max-width: 200px;
}
.ui__preview {
  display: flex;
  border-radius: 60px;
  background: #eeeeee;
}
.ui__preview__icon {
  margin: 3px;
  height: 26px;
  width: 26px;
  margin: 3px;
}
.ui__elements {
  display: flex;
  max-width: 0;
  overflow: hidden;
  transition: 0.5s;
}
.ui__elements img {
  transition: 0.3s;
  background: #d3d3d3;
}
.ui__elements img:hover {
  background: #e4e4e4;
}
.ui__item {
  flex-shrink: 0;
  margin: 3px;
  height: 26px;
  width: 26px;
}
.ui a {
  display: block;
}
.ui img {
  padding: 5px;
  object-fit: contain;
  border-radius: 100%;
}
