.iconedSelect {
  margin-top: 3px;
  margin-bottom: 3px;

  * {
    box-sizing: border-box;
  }

  img {
    max-width: 16px;
  }

  .choices {
    &[data-type*=select-one]::after {
      border-color: #a1a1a1 transparent transparent transparent;
      border-width: 7px 4px;
      right: 7.5px;
    }

    &[data-type*=select-one].is-open::after {
      border-color: transparent transparent #a1a1a1 transparent;
      margin-top: -10px;
    }

    &[data-type*=select-one] .choices {
      &__inner {
        padding-bottom: 6px;
      }
    }

    &.is-focused{
      z-index: 20;
    }

    &__inner {
      display: flex;
      min-height: 29px;
      padding: 5px 22px 6px 6px;
      background: white;
      border: 1px solid var(--form-border);
      border-radius: 2px;
    }

    &__item {
      display: flex;
      align-items: center;
      gap: 10px;

      &[data-value=""] {
        color: #b7b7b7;
      }

      span {
        color: #cecece;
      }
    }

    &__list {
      &--single {
        padding: 0;
      }
    }
  }
}